* {
  box-sizing: border-box;
  font-family: 'Open Sans';
}

*:before, *:after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

#main {
  margin: 100px;
  overflow: auto;
  padding-bottom: 100px;
  width: 100%;
}

.App-header {
  align-items: center;
  background-color: #000;
  color: white;
  display: flex;
  flex-direction: row;
  font-size: calc(10px + 2vmin);
  height: 100px;
  justify-content: space-evenly;
  width: 100%;
}

.container {
  margin-bottom: 50px;
  min-height: 100%;
  padding: 15px;
  padding-bottom: 70px;
}

.App-footer {
  background-color: #000;
  bottom: 0;
  clear: both;
  color: white;
  height: 250px;
  left: 0;
  padding-top: 100px;
  position: relative;
  right: 0;
  text-align: center;
  width: 100%;
}