* {
  box-sizing: border-box;
  font-family: 'Open Sans';
}

*:before, *:after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  position: relative;
}

.App {
  padding-bottom: 0px;
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #000;
  height: 175px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.fileCompile {
  padding: 10px;
  justify-content: center;
  display: flex;
  align-items: center;
}

.jsonbody {
  padding: 10px;
  justify-content: center;
}

.App-link {
  color: #61dafb;
}

.bookSelect {
  margin: 10px;
}

.main {
  padding: 100px;
}

.menu {
  text-align: center;
}

.menu_block {
  background-color: #61dafb;
  display: inline-block;
  height: 200px;
  padding: 10px;
}

#textArea {
  white-space: pre-wrap;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  padding: 15px;
  margin: 10px auto;
}

.csv-input {
  padding: 10px;
  display: block;
  margin: 15px auto;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.App-footer {
  display: block;
  background-color: #000;
  text-align: center;
  color: white;
  position: relative;
  bottom: 0;
  width: 100%;
  margin-top: 10%;
  padding-top: 50px;
  padding-bottom: 50px;
}