* {
  box-sizing: border-box;
  font-family: 'Open Sans';
}

*:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul.navigation li {
  display: inline;
  list-style-type: none;
  margin: 0;
}

ul.navigation {
  display: flex;
  background-color: #000;
  justify-content: center;
  line-height: .3em;
  text-transform: uppercase;
  padding: 0;
}

ul.navigation li a {
  color: #c1c1c1;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}

#main {
  margin: 20px 0 0 0;
  overflow: auto;
  width: 100%;
  display: flex; 
  justify-content: center;
  flex-wrap: wrap;
  align-items: baseline;
  gap: 2em;
}

ul.navigation li a.active {
  border-bottom: 2px solid #ffc72c;
  height: 30px;
  color: #fff;
}

.App-header {
  align-items: center;
  background-color: #000;
  color: white;
  display: flex;
  flex-direction: row;
  font-size: calc(10px + 2vmin);
  padding: 20px;
  justify-content: space-evenly;
  width: 100%;
}

.container {
  min-height: 100%;
  margin-bottom: 15px;
}

.card-container {
  padding: 10px;
}

.content {
  margin: 50px 0 20px 0;
  flex: 1 0 auto;
  min-height: calc(100vh - 300px);
}

footer {
  background-color: #000;
  flex-shrink: 0;
  color: white;
  padding: 20px 0 10px 0;
  text-align: center;
  width: 100%;
  margin-top: 50px;
}
